/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* SETUP STYLES */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Baloo Paaji 2", cursive;
  margin: 0 10%;
}
.NavLinks:hover {
  border-bottom: 1px solid black;
  background-color: #a5a5a5;
}
.NavLinksBottom:hover {
  border-bottom: 1px solid black;
}
.NavLinks {
  border-top: 1px solid black;
  padding-left: 1%;
}
.SiteHeaderContainer {
  display: flex;
  background-color: gainsboro;
  height: 5vh;
  align-items: center;
}
.SiteHeaderContainer .TopHeader {
  padding-left: 5%;
  font-size: 25px;
  text-align: left;
  width: 20%;
}
.SiteHeaderContainer .TopNavigationBar {
  font-size: 20px;
  text-align: right;
  width: 80%;
}
.SiteHeaderContainer .TopNavigationBar a {
  text-decoration: none;
  color: black;
  padding-right: 1%;
}
.WelcomeContainer {
  background-color: rgba(0, 0, 0, 0.562);
  color: gainsboro;
  height: 50vh;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.WelcomeContainer img {
  padding-top: 5%;
  padding-left: 5%;
  width: 35%;
}
.WelcomeHeader {
  padding-left: 5%;
  font-size: 40px;
}
.WelcomeSubHeader {
  margin: 0% 5%;
  font-size: 20px;
  padding-bottom: 1%;
  border-bottom: 2px solid grey;
}
.WelcomeParagraph {
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0% 5%;
  width: 80%;
}
.ButtonLink {
  text-decoration: none;
  color: black;
  margin: 0% 5%;
  color: white;
  border: 1px solid gray;
  background-color: gainsboro;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 0% 1%;
}
.SkillsSection {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
}
.IntroHeader {
  padding-top: 2%;
  padding-bottom: 1%;
  width: 100%;
  font-size: 30px;
}
.IntroParagraph {
  width: 80%;
  font-size: 20px;
}
.SkillsContainer {
  width: 50%;
}
.SkillsHeader {
  font-size: 30px;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 2%;
}
.SkillsListCSS {
  list-style-type: none;
  font-size: 20px;
  padding: 2% 1%;
}
.SkillsListHTML {
  list-style-type: none;
  font-size: 20px;
  padding: 2% 1%;
  border-top: 1px solid gainsboro;
}
.SkillsListLUA {
  list-style-type: none;
  font-size: 20px;
  padding: 2% 1%;
  border-top: 1px solid gainsboro;
}
.SkillsListAdd {
  list-style-type: none;
  font-size: 15px;
  padding: 2% 5%;
}
.SkillsListContainer {
  border: 1px solid gainsboro;
}
.WorkHistoryHeader {
  font-size: 30px;
  padding-bottom: 2%;
}
.WorkHistoryColumnContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
}
.Top {
  text-align: center;
  width: 5%;
  font-weight: bold;
  text-decoration: underline;
  border: 1px solid gainsboro;
}
.Color1 {
  background-color: rgba(218, 218, 218, 0.596);
}
.Years {
  text-align: center;
  width: 5%;
  font-weight: bold;
  border: 1px solid gainsboro;
}
.Company {
  width: 10%;
  border: 1px solid gainsboro;
  text-align: center;
}
.JobTitle {
  width: 10%;
  text-align: center;
  border: 1px solid gainsboro;
}
.JobDescription {
  width: 20%;
  padding: 1% 2%;
  border: 1px solid gainsboro;
}
table th {
  text-align: center;
}
.Spacer {
  padding-bottom: 5%;
  height: 5vh;
}
.Footer {
  text-align: center;
  background-color: gray;
  height: 15vh;
}
.Footer .FooterHeader {
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 20px;
}
.BottomNavigationBar {
  padding-bottom: 5%;
}
.NavLinksBottom {
  text-decoration: none;
  color: black;
  padding: 0% 2%;
  border-bottom: 1px solid gainsboro;
}
.ContactList {
  display: flex;
  list-style-type: none;
}
.ContactList .ContactlistItem {
  padding: 0% 2%;
}
@media (Max-width: 500px) {
  .ButtonLink {
    visibility: hidden;
  }
  .SkillsSection {
    height: 25vh;
  }
  .Footer {
    text-align: center;
    height: 10vh;
  }
  .ContactList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  .ContactlistItem {
    padding: 0% 2%;
  }
  .WelcomeContainer {
    color: gainsboro;
    height: 30vh;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
